* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  /* Make text unselectable */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  display: block;
}

#clock {
  font: 120px 'Press Start 2P', cursive;
  color: #2ae03f;

  z-index: 10;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
